<h2 class="entity-title"><%=t.event_management.title%></h2>

<div id="page_wrapper">
  <div class="container_12 top-margin-1line">
    <div class="grid_7">
      <div id="calendar" class="all-space"></div>
    </div>
    <div class="grid_5">
      <div class="left-margin">
        <div class="guiblock">
      	  <div class="formrow">
            <span class="entity-fieldlabel more_contrast_text">Calendario:</span>
            <span class="entity-fieldvalue"><%=calendar.name%></span>
          </div>
      	  <div class="formrow">
            <span class="entity-fieldlabel more_contrast_text">Descripción:</span>
            <span class="entity-fieldvalue"><%=calendar.description%></span>
          </div>        
        </div>
        <div id="action_empty" class="bottom-margin-1line">
           <button class="form-button new-entity-button action-button entity-management-button" 
                   style="display:block; margin: 0 auto; width: 100%; background-color: green" title="new">
         	  Nuevo evento
           </button>
        </div>
        <div id="action_form" class="elements-list all-space" style="display:none">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/tmpl" id="element_template_form">
              
     <form name="element" id="calendar_event_management_form">
        
        <div class="form-fields">
        
          <%% if (entity) { %>
          <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
          <%% } %>

          <input type="hidden" name="calendar[id]" id="calendar[id]" value="<%=calendar.id%>"/>

          <div class="formrow">
             <label for="from" class="fieldtitle"><%=t.event_management.form.from%><span class="mandatoryfield">*</span></label> 
             <input type="text" name="from" id="from" class="fieldcontrol date_control" size="10" <%% if (entity) { %> value="<%%= entity.from %>" <%% } %>/>
          </div>
          <div class="formrow">
             <label for="to" class="fieldtitle"><%=t.event_management.form.to%><span class="mandatoryfield">*</span></label> 
             <input type="text" name="to" id="to" class="fieldcontrol date_control" size="10" <%% if (entity) { %> value="<%%= entity.to %>" <%% } %>/>
          </div>
          <div class="formrow">
             <label for="event_type[id]" class="fieldtitle"><%=t.event_management.form.type%></label>
             <select name="event_type[id]" id="event_type[id]" class="fieldcontrol"/>
          </div>   

          <div class="formrow">
            <label for="description" class="fieldtitle"><%= t.event_management.form.description %></label>
            <textarea name="description" id="description" class="fieldcontrol" rows="2"><%% if (entity) { %><%%=entity.description%><%%}%></textarea>
          </div>

        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <button type="button" class="form-button new-entity-button action-button entity-management-button" 
                      style="background-color: green" title="new">Nuevo evento</button>                	
                  <button type="button" class="form-button delete-entity-button action-button entity-management-button" title="delete"><%= t.entitymanagement.delete %></button>                     	
                  <button type="button" class="form-button update-entity-button action-button entity-management-button" title="<%=t.entitymanagement.update%>"><%=t.entitymanagement.update%></button>                  
                <%% } 
                   else { %>
                  <input type="button" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>