<div class="top-navigation-bar">
<h2 class="entity-title"><%=t.event_management.title%></h2>
</div>
<div id="page_wrapper" class="all-space">
  <div class="container_12 top-margin-1line">
    <div class="grid_7">
      <div id="calendar" class="all-space"></div>
    </div>
    <div class="grid_5">
      <div class="left-margin">
        <div id="action_empty" class="bottom-margin-1line">
           <button id="new_event" class="form-button green-button" 
                   style="display:block; margin: 0 auto; width: 100%; background-color: green" title="new">
         	  Nuevo evento
           </button>
        </div>
        <div id="action_form" class="elements-list all-space" style="display:none"> 
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/tmpl" id="calendar_element_template_form">
              
     <form name="calendar_element" id="calendar_event_management_form">
        
        <div class="form-fields">
        
          <%% if (entity) { %>
          <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
          <%% } %>

          <input type="hidden" name="calendar[id]" id="calendar[id]" value="<%%=calendar_id%>"/>

          <div class="formrow">
             <label for="from" class="fieldtitle"><%=t.event_management.form.from%><span class="mandatoryfield">*</span></label> 
             <input type="text" name="from" id="from" class="fieldcontrol date_control" size="10" <%% if (entity) { %> value="<%%= entity.from.toString('dd/MM/yyyy') %>" <%% } %>/>
          </div>
          <div class="formrow">
             <label for="to" class="fieldtitle"><%=t.event_management.form.to%><span class="mandatoryfield">*</span></label> 
             <input type="text" name="to" id="to" class="fieldcontrol date_control" size="10" <%% if (entity) { %> value="<%%= entity.to.toString('dd/MM/yyyy') %>" <%% } %>/>
          </div>
          <div class="formrow">
             <label for="event_type[id]" class="fieldtitle"><%=t.event_management.form.type%></label>
             <select name="event_type[id]" id="event_type[id]" class="fieldcontrol"/>
          </div>   

          <div class="formrow">
            <label for="description" class="fieldtitle"><%= t.event_management.form.description %></label>
            <textarea name="description" id="description" class="fieldcontrol" rows="2"><%% if (entity) { %><%%=entity.description%><%%}%></textarea>
          </div>

        </div>
        
        <div class="bottom-navigation-bar navigation-bar" style="padding-right: 0px;">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <button type="button" class="form-button action-button entity-management-button green-button" title="new">Nuevo evento</button>                	
                  <button id="delete_event" type="button" class="form-button action-button entity-management-button red-button" title="delete"><%= t.entitymanagement.delete %></button>                     	
                  <button id="update_event" type="button" class="form-button action-button entity-management-button blue-button" title="<%=t.entitymanagement.update%>"><%=t.entitymanagement.update%></button>                  
                <%% } 
                   else { %>
                  <button id="create_event" type="button" class="form-button action-button entity-management-button blue-button" title="<%=t.entitymanagement.create%>"><%=t.entitymanagement.create%></button>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>